In [1]:
import pandas as pd 
import numpy as np

In [2]:
mov = pd.read_csv('Movie Review And Rating.csv')

In [3]:
mov.head()

,ID,Movie,Year,Genres,Review,Rating
0,100001,Spider-Man: No Way Home,2021,Action/Adventure,This is by far the best Spider-Man or even Mar...,5
1,100002,Spider-Man: No Way Home,2021,Action/Adventure,Coming from someone who doesn’t like the previ...,5
2,100003,Spider-Man: No Way Home,2021,Action/Adventure,Marvel has outdone themselves. This is the qui...,5
3,100004,Spider-Man: No Way Home,2021,Action/Adventure,Saw this #FDFS at 5am\nYou beauty Spider-Man\n...,5
4,100005,Spider-Man: No Way Home,2021,Action/Adventure,"Best in the Spiderman line, and it takes top s...",5

In [4]:
mov['Rating'].value_counts()

4    214
5    207
1    201
3    193
2    185
Name: Rating, dtype: int64

In [5]:
# 3 is neutral rating so remove
mov = mov.loc[mov['Rating'] != 3]

In [6]:
cleanup_nums = {"Rating": {2: 0, 1: 0, 5: 1, 4: 1}}

In [7]:
mov = mov.replace(cleanup_nums)
mov.head()

,ID,Movie,Year,Genres,Review,Rating
0,100001,Spider-Man: No Way Home,2021,Action/Adventure,This is by far the best Spider-Man or even Mar...,1
1,100002,Spider-Man: No Way Home,2021,Action/Adventure,Coming from someone who doesn’t like the previ...,1
2,100003,Spider-Man: No Way Home,2021,Action/Adventure,Marvel has outdone themselves. This is the qui...,1
3,100004,Spider-Man: No Way Home,2021,Action/Adventure,Saw this #FDFS at 5am\nYou beauty Spider-Man\n...,1
4,100005,Spider-Man: No Way Home,2021,Action/Adventure,"Best in the Spiderman line, and it takes top s...",1

In [8]:
mov['Rating'].value_counts()

1    421
0    386
Name: Rating, dtype: int64

In [9]:
mov1 = mov[['Review', 'Rating']]

In [10]:
mov1

                                                Review  Rating
0    This is by far the best Spider-Man or even Mar...       1
1    Coming from someone who doesn’t like the previ...       1
2    Marvel has outdone themselves. This is the qui...       1
3    Saw this #FDFS at 5am\nYou beauty Spider-Man\n...       1
4    Best in the Spiderman line, and it takes top s...       1
..                                                 ...     ...
995  it is insulting and the worse movie i have eve...       0
996  So one sided, so agenda driven by the left it’...       0
997                    It’s a propaganda, not a movie.       0
998                                            Boring!       0
999  Intelligent, brilliant, emotional, touching, s...       1

[807 rows x 2 columns]

In [11]:
### need to take out short reviews, like review 998 above

In [12]:
vals = list(mov1['Review'])
rm = []
for i in range(len(vals)):
    length = len(vals[i].split())
    if length <= 25:
        rm.append(i)
    else:
        continue

In [13]:
len(rm)

62

In [14]:
mov1 = mov1.loc[mov1.index.isin(rm) != True]

In [15]:
mov1.rename(columns = {'Review': 'text', 'Rating': 'label'}, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [16]:
mov1.head()

                                                text  label
0  This is by far the best Spider-Man or even Mar...      1
1  Coming from someone who doesn’t like the previ...      1
2  Marvel has outdone themselves. This is the qui...      1
3  Saw this #FDFS at 5am\nYou beauty Spider-Man\n...      1
4  Best in the Spiderman line, and it takes top s...      1

In [17]:
mov1.dtypes

text     object
label     int64
dtype: object

In [18]:
mov1['text'] = mov1['text'].astype('string')

C:\Users\user\AppData\Local\Temp/ipykernel_26148/4071688372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mov1['text'] = mov1['text'].astype('string')

In [19]:
mov1.dtypes

text     string
label     int64
dtype: object

In [22]:
mov1['text'][0:3]

0    This is by far the best Spider-Man or even Mar...
1    Coming from someone who doesn’t like the previ...
2    Marvel has outdone themselves. This is the qui...
Name: text, dtype: string

In [20]:
mov1.to_csv('test-break.csv')